body {
    font-family: "KoHo", sans-serif;
    white-space: nowrap;
    overflow-x: auto;
}

.vl {
    height: 100px;
}

.sofiatxt {
    font-family: "Sofia", sans-serif;
}

.koho {
    font-family: "KoHo", sans-serif
}

div.containter {
    text-align: center;
}

ul.centerul {
    display: inline-block;
    text-align: center;
}

.centeralign {
    text-align: center;
}

body {
    background-color: #FFA1A16E;
    color: #ffffff;
}

hr {
    border: none;
    background-color: #ffffff;
}

a {
    color:#ffffff;
}

#interests {
    display:inline-block;
    margin-left: 100px;
    
}

#about {
    display:inline-block;
}

#social {
    display:inline-block;
    margin-left: 100px;
}

.styledul {
    font-family: "Sofia", sans-serif;
}