body {
    font-family: "Nunito", sans-serif;
    overflow-x: auto;
}

.vl {
    height: 50px;
}

.sofiatxt {
    font-family: "Sofia", sans-serif;
}

.koho {
    font-family: "KoHo", sans-serif
}

div.containter {
    text-align: center;
}

ul.centerul {
    display: inline-block;
    text-align: center;
}

.centeralign {
    text-align: center;
}

body {
    background-color: #FFA1A16E;
    color: #5a415c;
}

hr {
    border: none;
    background-color: #5a415c;
}

a {
    color: #5a415c;
}

#interests {
    display:inline-block;
    margin-left: 6%; 
}

#about {
    display:inline-block;
    margin-right: 6%;
}

#social {
    display:inline-block;
    margin-right: 2%;
}

.styledul {
    font-family: "Sofia", sans-serif;
}